#hidden {
  display: none;
}
.movieBox {
  margin: 30px;
}

.movieBox > a {
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
.movieBox img {
  height: 220px;
  width: 180px;
  border-radius: 5px;
}

.movie_info {
  background-color: #333;
  height: 220px;
  width: 150px;
  border-radius: 5px;
}
.movie_info .title {
  font-size: 20px;
  margin: 10px;
}

.infobox span {
  font-size: 12px;
  margin-right: 20px;
  margin-left: 10px;
  color: darkgray;
}
ul {
  font-size: 10px;
  list-style: none;
  margin: 10px;
}
