#hidden {
  display: none;
}
.movieBox {
  margin: 10px;
  width: 15%;
  height: auto;
}

.movieBox > a {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.movieBox img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.movie_info {
  background-color: #333;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.movie_info .title {
  font-size: 20px;
  margin: 10px;
}

.infobox span {
  font-size: 0.5em;
  /* margin-right: 20px;
  margin-left: 10px; */
  color: darkgray;
}
ul {
  font-size: 10px;
  list-style: none;
  margin: 10px;
}
