a:visited {
  color: aliceblue;
}
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #141414;
}
.left {
  width: 150px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}
.user_info {
  padding-right: 30px;
}
.user_info .name {
  margin: 8px;
  padding: 12px;
  border-bottom: 2px solid white;
}
