a:visited {
  color: aliceblue;
}
.navbar {
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #141414;
}
.logo {
  background-color: red;
  height: 30px;
  width: 70px;
  text-align: center;
}
.user_info .name {
  margin: 8px;
  border-bottom: 1px solid white;
}
