.user {
  border: 1px solid white;
  border-radius: 5px;
  height: 70px;
  width: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}
.user span {
  font-size: 30px;
}
